.exchangeDeposit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 98%;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 20px;
}

.exchangeDepositLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.exchangeDepositLeftInfoSpanFirst {
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.exchangeDepositLeftInfoSpanSecond {
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.exchangeDepositLeftInfoSpan {
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.exchangeDepositLeftInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exchangeDepositLeftContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}

.exchangeDepositLeftContainerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.exchangeDepositLeftContainerIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.exchangeDepositLeftContainerSpan {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
}

.exchangeDepositLeftContainerValueWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin-left: 20px;
  padding: 5px 15px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
}

.exchangeDepositLeftContainerValue {
  font-size: 18px;
}

.exchangeDepositLeftContainerValueSmall {
  font-size: 12px;
}

.exchangeDepositLeftContainerCounterIcon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.exchangeDepositLeftBottomContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}

.exchangeDepositLeftBottomIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-right: 20px;
}

.exchangeDepositLeftBottomButton {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  cursor: pointer;
}

.exchangeDepositLine {
  height: 70%;
  width: 1px;
  background-color: lightgray;
  margin: 15px 20px;
}

.exchangeDepositRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.exchangeDepositRightHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
}

.exchangeDepositRightHeaderSpan {
  margin-right: 80px;
}

.exchangeDepositRightHeaderSpan:last-child {
  margin-right: 0px;
}

.exchangeDepositRightHeaderSpan:nth-child(5) {
  margin-right: 30px;
}

.exchangeDepositRightHeaderSpan:nth-child(4) {
  margin-right: 120px;
}

.exchangeDepositRightHeaderSpan:nth-child(3) {
  margin-right: 60px;
}

.exchangeDepositRightHeaderSpan:nth-child(2) {
  margin-right: 120px;
}

.exchangeDepositRightHeaderSpan:first-child {
  margin-right: 110px;
}

.exchangeDepositRightCurrency {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 23px;
}

.exchangeDepositRightCurrencyIconContainer {
  display: flex;
  position: relative;
  margin-right: 20px;
}

.exchangeDepositRightCurrencyIconBig {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.exchangeDepositRightCurrencyIconSmall {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  right: -10px;
  top: 12px;
}

.exchangeDepositRightCurrencyInfoSpan {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}

.exchangeDepositRightCurrencyValueContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  margin-right: 10px;
}

.exchangeDepositRightCurrencyValueSpan {
  font-size: 20px;
}

.exchangeDepositRightCurrencyValueP {
  font-size: 164x;
  margin-right: 10px;
}

.exchangeDepositRightCurrencySwapIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px 20px;
}

.exchangeDepositRightCurrencyInfoIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.exchangeDepositRightCurrencyRateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 10px;
}

.exchangeDepositRightCurrencyRateSpan {
  font-size: 20px;
  font-weight: 500;
}

.exchangeDepositRightCurrencyRateP {
  font-size: 19px;
  font-weight: 300;
}

.exchangeDepositRightCurrencyRateValueContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid lightgray;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  margin-right: 10px;
}

.exchangeDepositRightCurrencyRateValueSpan {
  font-size: 20px;
}

.exchangeDepositRightCurrencyRateValueP {
  font-size: 14px;
  margin-right: 10px;
}

.exchangeDepositRightCurrencyStatusIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.exchangeDepositRightBottomContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 30px;
}
