.exhangeFirstChart {
  display: flex;
  width: 34%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: white;
}

.exchangeFirstChartWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exchangeFirstChartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 95%;
  background-color: rgb(255, 122, 53);
  margin: 10px 15px;
  padding: 5px;
  border-radius: 10px;
}

.exchangeFirstChartHeaderLeft {
  display: flex;
}

.exchangeFirstChartImgContainer {
  position: relative;
}

.exchangeFirstChartSmallImgContainer {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  border-radius: 1px solid white;
  width: 18px;
  height: 18px;
  top: -1px;
  right: -23px;
}

.exchangeFirstChartHeaderSmallIcon {
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.exchangeFirstChartHeaderRight {
  margin-right: 10px;
}

.exchangeFirstChartHeaderIcon {
  width: 50px;
  height: 50px;
  margin: -20px;
}

.exchangeFirstChartLeft {
  display: flex;
  width: 195px;
  margin-right: 30px;
}

.exchangeFirstChartItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.exchangeFirstChartHeaderTitle {
  margin-left: 30px;
}

.exchangeFirstChartRight {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1;
  width: 50%;
  margin-left: 30px;
}

.exchangeFirstChartRightTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.exchangeFirstChartRightTopLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.exchangeFirstChartRightTopIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.exchangeFirstChartRightTopSpan {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
}

.exchangeFirstChartRightTopValueWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  margin-left: 20px;
  padding: 5px 15px;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
}

.exchangeFirstChartRightTopValue {
  font-size: 18px;
}

.exchangeFirstChartRightTopValueSmall {
  font-size: 12px;
}

.exchangeFirstChartRightMiddle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 20px;
}

.exchangeFirstChartRightMiddleLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.exchangeFirstChartRightMiddleIcon {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.exchangeFirstChartRightMiddleValueWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px;
  background-color: rgb(231, 231, 231);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 10px;
}

.exchangeFirstChartHeaderRightP {
  font-size: 12px;
}

.exchangeFirstChartRightBottom {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 10px;
}

.exchangeFirstChartRightBottomImg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.exchangeHeaderItems {
  width: 15.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.exchangeChartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(219, 219, 219);
  margin: 10px 15px;
  padding: 4px 5px;
  border-radius: 10px;
}

.exchangeHeaderLine {
  width: 60%;
  margin: 7px 0px;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.exchangeHeaderInfo {
  font-size: 24px;
  font-weight: 500;
}

.exchangeChart {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exchangeChartInput {
  margin-bottom: 5px;
  width: 300px;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  background-color: rgb(240, 240, 240);
}

.exchangeChartWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.exchangeChartItems {
  width: 16.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

.exchangeChartHeader {
  display: flex;
  width: 90%;
  margin-top: 10px;
  text-align: start;
}

.exchangeChartHeaderIcon {
  width: 25px;
  height: 25px;
}

.exchangeChartHeaderInfoWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}

.exchangeChartHeaderTitle {
  font-size: 14px;
  font-weight: 600;
}

.exchangeChartHeaderSubtitle {
  font-size: 10px;
  font-weight: 300;
  color: rgb(141, 141, 141);
}

.exchangeChartHeaderChangeWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.exchangeChartHeaderChangeTitle {
  font-size: 10px;
  font-weight: 300;
}

.exchangeChartHeaderChangeCalc {
  font-size: 10px;
  font-weight: 300;
  color: rgb(172, 2, 2);
}

.exchangeChartGraph {
  margin-top: 10px;
  width: 90%;
}

.exchangeChartBuySellWrapper {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.exchangeChartSell {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 0px 12px;
  width: 45px;
  cursor: pointer;
}

.exchangeChartSellTitle {
  text-align: left;
  padding-top: 2px;
  padding-left: 4px;
  width: 63px;
  height: 20px;
  color: white;
  font-size: 14px;
  background-color: rgb(197, 0, 0);
  border-radius: 5px;
}

.exchangeChartSellPrice {
  padding-right: 4px;
  font-weight: 600;
  width: 63px;
  text-align: right;
  margin: 5px 0px;
  font-size: 12px;
}

.exchangeChartBuy {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 0px 12px;
  width: 45px;
  cursor: pointer;
}

.exchangeChartBuyTitle {
  text-align: left;
  padding-left: 4px;
  padding-top: 2px;
  width: 63px;
  height: 20px;
  color: white;
  font-size: 14px;
  background-color: green;
  border-radius: 5px;
}

.exchangeChartBuyPrice {
  padding-right: 4px;
  font-weight: 600;
  width: 63px;
  text-align: right;
  margin: 5px 0px;
  font-size: 12px;
}
