.exchange {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 8;
  background-color: rgb(240, 240, 240);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.exchangeHeader {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.exchangeHeaderItems {
  width: 15.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.exchangeHeaderTitle {
  font-size: 20px;
  font-weight: 500;
}

.exchangeHeaderSubtitle {
  margin-top: 3px;
  color: rgb(150, 150, 150);
  font-size: 12px;
  font-weight: 300;
}

.exchangeHeaderLine {
  width: 60%;
  margin: 7px 0px;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.exchangeHeaderInfo {
  font-size: 24px;
  font-weight: 500;
}

.exchangeBottom {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px 5px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

.exchangeBottomWrapper {
  width: 45%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 10px;
  margin-top: 10px;
}
