.exchangeDebit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.exchangeDebitLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.exchangeDebitLeftCurrencyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.exchangeDebitLeftCurrencyIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.exchangeDebitLeftCurrencSpan {
  font-size: 24px;
  font-weight: 600;
  margin-right: 10px;
}

.exchangeDebitLeftCurrencyValueWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 150px;
  height: 35px;
}

.exchangeDebitLeftCurrencyValueSpan {
  font-size: 20px;
}

.exchangeDebitLeftCurrencyValueP {
  font-size: 14px;
  margin-right: 10px;
}

.exchangeDebitLeftBottomButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

.exchangeDebitLeftBottomButton {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.exchangeDebitLine {
  height: 70%;
  width: 1px;
  background-color: lightgray;
  margin: 15px 20px;
}

.exchangeDebitRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.exchangeDebitRightHeaderContainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 140px;
}

.exchangeDebitRightContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #999;
}

.exchangeDebitRightIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.exchangeDebitRightClientWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.exchangeDebitRightClientSpan {
  font-size: 20px;
}

.exchangeDebitRightClientP {
  font-size: 14px;
}

.exchangeDebitRightLocationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.exchangeDebitRightLocationSpan {
  font-size: 20px;
}

.exchangeDebitRightLocationP {
  font-size: 14px;
}

.exchangeDebitRightDateSpan {
  font-size: 20px;
  margin-right: 20px;
}

.exchangeDebitRightValueWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exchangeDebitRightValueSpan {
  font-size: 20px;
}

.exchangeDebitRightValueP {
  font-size: 14px;
}

.exchangeDebitRightBottomButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 10px;
}
