.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 8;
  background-color: rgb(240, 240, 240);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.dashboardHeader {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dashboardHeaderItems {
  width: 15.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.dashboardHeaderTitle {
  font-size: 20px;
  font-weight: 500;
}

.dashboardHeaderSubtitle {
  margin-top: 3px;
  color: rgb(150, 150, 150);
  font-size: 12px;
  font-weight: 300;
}

.dashboardHeaderLine {
  width: 60%;
  margin: 7px 0px;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.dashboardHeaderInfo {
  font-size: 24px;
  font-weight: 500;
}

.dashboardChart {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboardChartInput {
  margin-bottom: 5px;
  width: 300px;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  background-color: rgb(240, 240, 240);
}

.dashboardChartWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dashboardChartItems {
  width: 16.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}

.dashboardChartHeader {
  display: flex;
  width: 90%;
  margin-top: 10px;
  text-align: start;
}

.dashboardChartHeaderIcon {
  width: 25px;
  height: 25px;
}

.dashboardChartHeaderInfoWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dashboardChartHeaderTitle {
  font-size: 14px;
  font-weight: 600;
}

.dashboardChartHeaderSubtitle {
  font-size: 10px;
  font-weight: 300;
  color: rgb(141, 141, 141);
}

.dashboardChartHeaderChangeWrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.dashboardChartHeaderChangeTitle {
  font-size: 10px;
  font-weight: 300;
}

.dashboardChartHeaderChangeCalc {
  font-size: 10px;
  font-weight: 300;
  color: rgb(172, 2, 2);
}

.dashboardChartGraph {
  margin-top: 10px;
  width: 90%;
}

.dashboardChartBuySellWrapper {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dashboardChartSell {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 0px 12px;
  width: 45px;
  cursor: pointer;
}

.dashboardChartSellTitle {
  text-align: left;
  padding-top: 2px;
  padding-left: 4px;
  width: 63px;
  height: 20px;
  color: white;
  font-size: 14px;
  background-color: rgb(197, 0, 0);
  border-radius: 5px;
}

.dashboardChartSellPrice {
  padding-right: 4px;
  font-weight: 600;
  width: 63px;
  text-align: right;
  margin: 5px 0px;
  font-size: 12px;
}

.dashboardChartBuy {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 0px 12px;
  width: 45px;
  cursor: pointer;
}

.dashboardChartBuyTitle {
  text-align: left;
  padding-left: 4px;
  padding-top: 2px;
  width: 63px;
  height: 20px;
  color: white;
  font-size: 14px;
  background-color: green;
  border-radius: 5px;
}

.dashboardChartBuyPrice {
  padding-right: 4px;
  font-weight: 600;
  width: 63px;
  text-align: right;
  margin: 5px 0px;
  font-size: 12px;
}

.dashboardSlider {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboardSliderInput {
  margin: 10px;
  width: 300px;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgb(240, 240, 240);
}

.dashboardSliderWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
}
