.exchangeConvert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.exchangeConvertLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.exchangeConvertLeftHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
}

.exchangeConvertLeftHeaderSpan {
  margin-right: 80px;
}

.exchangeConvertLeftHeaderSpan:last-child {
  margin-right: 0px;
}

.exchangeConvertLeftHeaderSpan:nth-child(5) {
  margin-right: 30px;
}

.exchangeConvertLeftHeaderSpan:nth-child(4) {
  margin-right: 120px;
}

.exchangeConvertLeftHeaderSpan:nth-child(3) {
  margin-right: 60px;
}

.exchangeConvertLeftHeaderSpan:nth-child(2) {
  margin-right: 120px;
}

.exchangeConvertLeftHeaderSpan:first-child {
  margin-right: 110px;
}

.exchangeConvertLeftCurrency {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 23px;
}

.exchangeConvertLeftCurrencyIconContainer {
  display: flex;
  position: relative;
  margin-right: 20px;
}

.exchangeConvertLeftCurrencyIconBig {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.exchangeConvertLeftCurrencyIconSmall {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  right: -10px;
  top: 12px;
}

.exchangeConvertLeftCurrencyInfoSpan {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}

.exchangeConvertLeftCurrencyValueContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 150px;
  height: 35px;
  margin-right: 10px;
}

.exchangeConvertLeftCurrencyValueSpan {
  font-size: 20px;
}

.exchangeConvertLeftCurrencyValueP {
  font-size: 164x;
  margin-right: 10px;
}

.exchangeConvertLeftCurrencySwapIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px 20px;
}

.exchangeConvertLeftCurrencyInfoIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.exchangeConvertLeftCurrencyRateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 10px;
}

.exchangeConvertLeftCurrencyRateSpan {
  font-size: 20px;
  font-weight: 500;
}

.exchangeConvertLeftCurrencyRateP {
  font-size: 19px;
  font-weight: 300;
}

.exchangeConvertLeftCurrencyRateValueContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid lightgray;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  margin-right: 10px;
}

.exchangeConvertLeftCurrencyRateValueSpan {
  font-size: 20px;
}

.exchangeConvertLeftCurrencyRateValueP {
  font-size: 14px;
  margin-right: 10px;
}

.exchangeConvertLeftCurrencyStatusIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.exchangeConvertLeftBottomContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 30px;
}

.exchangeConvertLine {
  height: 70%;
  width: 1px;
  background-color: lightgray;
  margin: 15px 20px;
}

.exchangeConvertRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.exchangeConvertRightHeaderSpan {
  margin-left: 20px;
}

.exchangeConvertRightContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px;
}

.exchangeConvertRightCurrencyIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.exchangeConvertRightCurrencyValueWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.exchangeConvertRightCurrencyValueSpan {
  font-size: 20px;
}

.exchangeConvertRightCurrencyValueP {
  font-size: 14px;
  margin-right: 10px;
}

.exchangeConvertRightBottomButton {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: -15px;
}
