.bottomExchange {
  display: flex;
  width: 100%;
  padding: 0px 5px;
}

.bottomExchangeWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.bottomExchange {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: start;
  justify-content: center;
}

.bottomExchangeItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.bottomExchangeItemIcon {
  border-radius: 50%;
  object-fit: cover;
  width: 30px;
  height: 30px;
}

.bottomExchangeItemInfo {
  margin-left: 10px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(194, 194, 194);
  margin-bottom: 25px;
}

.bottomExchangeItemInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}

.bottomExchangeItemInfoSpan {
  font-size: 20px;
  font-weight: 500;
}

.bottomExchangeItemInfoP {
  font-size: 14px;
  font-weight: 300;
}

.bottomExchangeItemButtonContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 40px;
}

.bottomExchangeItemInfoButtonContainerWrapper {
  display: flex;
  align-items: center;
}

.bottomExchangeItemInfoButtonContainerButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  background-color: orange;
  width: 90px;
  height: 20px;
  border-radius: 5px;
}

.bottomExchangeItemInfoButtonContainerButtonSpan {
  padding-left: 5px;
  width: 75px;
  height: 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.bottomExchangeItemInfoButtonContainerButtonIcon {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.bottomExchangeItemButtonContainerTime {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 12px;
}
