.transferMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    height: 900px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
}

.transferMainWrapper {
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.transferMainLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .transferMainCommentWrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 90px;
  }

  .transferMainLine {
    height: 60%;
    width: 0.1px;
    border: 1px solid lightgray;
  }
  
  .transferMainRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .transferMainRightWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .transferMainRightTopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-right: 40px;
  }

  .transferMainRightTopTransferWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .transferMainRightTopTransferSpan {
    font-size: 14px;
    color: gray;
  }

  .transferMainRightTopTransferCheckboxWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .transferMainRightTopTransferCheckboxSpan {
    font-size: 14px;
    color: gray;
  }

  .transferMainRightTopTransferCheckboxInput {
    height: 20px;
    width: 20px;
    margin-left: 10px;
  }

  .transferMainRightTopTransferNumberWrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    border-radius: 5px;
    width: 90%;
    height: 35px;
  }

  .transferMainRightTopTransferNumberSpan {
    font-size: 14px;
    margin-left: 10px;
  }

  .transferMainRightTopTransferNumberIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .transferMainCommentRightWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin-right: 20px;
  }

  .transferMainRightBottomButton {
    font-size: 16px;
    width: 150px;
    height: 35px;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }