.transferSwift {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    height: 900px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
  }
  
  .transferSwiftWrapper {
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  
  .transferSwiftLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .transferSwiftLeftDropdownWrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .transferSwiftLeftDropdownSelect {
    text-align: center;
    width: 90%;
    background-color: lightgray;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: gray;
  }
  
  .transferSwiftLeftDropdownIcon {
    width: 20px;
    height: 20px;
  }
  
  .transferSwiftLeftScanWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  
  .transferSwiftLeftScanIDDropdown {
    text-align: center;
    width: 43%;
    background-color: lightgray;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 20px;
    color: gray;
  }
  
  .transferSwiftScanDocumentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43%;
    height: 40px;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 20px;
    margin-right: 20px;
    color: gray;
  }
  
  .transferSwiftLeftScanIDDropdownIcon {
    height: 20px;
    width: 20px;
  }
  
  .transferSwiftIDCardImg {
    width: 420px;
    height: 250px;
    object-fit: cover;
    margin-top: 40px;
    margin-right: 40px;
  }
  
  .transferSwiftLeftInputContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 20px;
  }
  
  .transferSwiftLeftInputWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
  }
  
  .transferSwiftLeftLabel {
    font-size: 16px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .transferSwiftLeftInput {
    width: 90%;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
  }
  
  .transferSwiftCommentContainer {
    display: flex;
    align-items: flex-end;
    width: 90%;
  }
  
  .transferSwiftCommentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 84%;
    margin-left: 20px;
  }
  
  .transferSwiftLeftText {
    width: 100%;
    height: 100px;
  }
  
  .transferSwiftLeftPrintIcon {
    width: 20px;
    height: 20px;
    margin-left: 30px;
  }
  
  .transferSwiftLine {
    height: 60%;
    width: 0.1px;
    border: 1px solid lightgray;
  }
  
  .transferSwiftRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .transferSwiftRightWrapper {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 20px;
  }
  
  .transferSwiftRightDropdown {
    text-align: center;
    width: 90%;
    background-color: lightgray;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: gray;
    margin-top: 45px;
  }
  
  .transferSwiftRightAmountContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    margin-left: 10px;
  }
  
  .transferSwiftRightAmountSendWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .transferSwiftRightAmountSendIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .transferSwiftRightAmountSendCurrency {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 20px;
  }
  
  .transferSwiftRightAmountSendCurrencyP {
    font-size: 14px;
  }
  
  .transferSwiftRightAmountSendCurrencySpan {
    font-size: 24px;
    font-weight: 600;
  }
  
  .transferSwiftRightAmountSendCurrencyAmountWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .transferSwiftRightAmountSendCurrencyAmountSpan {
    font-size: 16px;
    margin-left: 10px;
  }
  
  .transferSwiftRightAmountSendCurrencyAmountValue {
    display: flex;
  }
  
  .transferSwiftRightAmountSendCurrencyAmountValueSpan {
    font-size: 16px;
  }
  
  .transferSwiftRightAmountSendCurrencyAmountValueP {
    font-size: 12px;
    margin-right: 10px;
  }
  
  .transferSwiftRightFeeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 160px;
  }
  
  .transferSwiftRightFeeSpan {
    font-size: 16px;
  }
  
  .transferSwiftRightFeeWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 35px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 10px;
  }
  
  .transferSwiftRightBottomButton {
    font-size: 16px;
    width: 150px;
    height: 35px;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 5px;
    margin-top: 130px;
    cursor: pointer;
  }
  