.transferCash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  height: 900px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
}

.transferCashWrapper {
  width: 95%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.transferCashLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.transferCashLeftDropdownWrapper {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transferCashLeftDropdownSelect {
  text-align: center;
  width: 90%;
  background-color: lightgray;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: gray;
}

.transferCashLeftDropdownIcon {
  width: 20px;
  height: 20px;
}

.transferCashLeftScanWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.transferCashLeftScanIDDropdown {
  text-align: center;
  width: 43%;
  background-color: lightgray;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 20px;
  color: gray;
}

.transferCashScanDocumentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43%;
  height: 40px;
  background-color: lightgray;
  border-radius: 5px;
  font-size: 20px;
  margin-right: 20px;
  color: gray;
}

.transferCashLeftScanIDDropdownIcon {
  height: 20px;
  width: 20px;
}

.transferCashIDCardImg {
  width: 420px;
  height: 250px;
  object-fit: cover;
  margin-top: 40px;
  margin-right: 40px;
}

.transferCashLeftInputContainer {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 20px;
}

.transferCashLeftInputWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
}

.transferCashLeftLabel {
  font-size: 16px;
  color: gray;
  margin-top: 20px;
  margin-bottom: 10px;
}

.transferCashLeftInput {
  width: 90%;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.transferCashCommentContainer {
  display: flex;
  align-items: flex-end;
  width: 90%;
}

.transferCashCommentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 84%;
  margin-left: 20px;
}

.transferCashLeftText {
  width: 100%;
  height: 100px;
}

.transferCashLeftPrintIcon {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.transferCashLine {
  height: 60%;
  width: 0.1px;
  border: 1px solid lightgray;
}

.transferCashRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.transferCashRightWrapper {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 20px;
}

.transferCashRightDropdown {
  text-align: center;
  width: 90%;
  background-color: lightgray;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  color: gray;
  margin-top: 45px;
}

.transferCashRightAmountContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  margin-left: 10px;
}

.transferCashRightAmountSendWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transferCashRightAmountSendIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.transferCashRightAmountSendCurrency {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 20px;
}

.transferCashRightAmountSendCurrencyP {
  font-size: 14px;
}

.transferCashRightAmountSendCurrencySpan {
  font-size: 24px;
  font-weight: 600;
}

.transferCashRightAmountSendCurrencyAmountWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
}

.transferCashRightAmountSendCurrencyAmountSpan {
  font-size: 16px;
  margin-left: 10px;
}

.transferCashRightAmountSendCurrencyAmountValue {
  display: flex;
}

.transferCashRightAmountSendCurrencyAmountValueSpan {
  font-size: 16px;
}

.transferCashRightAmountSendCurrencyAmountValueP {
  font-size: 12px;
  margin-right: 10px;
}

.transferCashRightFeeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 160px;
}

.transferCashRightFeeSpan {
  font-size: 16px;
}

.transferCashRightFeeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 35px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 10px;
}

.transferCashRightBottomButton {
  font-size: 16px;
  width: 150px;
  height: 35px;
  border: none;
  background-color: teal;
  color: white;
  border-radius: 5px;
  margin-top: 300px;
  cursor: pointer;
}
