.transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 8;
  background-color: rgb(240, 240, 240);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.transactionsHeader {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.transactionsHeaderItems {
  width: 15.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.transactionsHeaderTitle {
  font-size: 20px;
  font-weight: 500;
}

.transactionsHeaderSubtitle {
  margin-top: 3px;
  color: rgb(150, 150, 150);
  font-size: 12px;
  font-weight: 300;
}

.transactionsHeaderLine {
  width: 60%;
  margin: 7px 0px;
  border-bottom: 1px solid rgb(199, 199, 199);
}

.transactionsHeaderInfo {
  font-size: 24px;
  font-weight: 500;
}