.exchangeMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  height: 500px;
  width: 90%;
  background-color: white;
  border-radius: 10px;
}

.exchangeMainTopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.exchangeMainTopContainerHeader {
  padding: 5px 10px;
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

.exchangeMainTopContainerHeaderLeftIcon,
.exchangeMainTopContainerHeaderRightIcon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.exchangeMainTopContainerHeaderSpan {
  font-size: 16px;
}

.exchangeMainTopContainerButtonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.exchangeMainTopContainerButtonWrapperButton {
  width: 100px;
  height: 40px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: none;
  margin: 10px 18px;
  cursor: pointer;
}
